@page "/product"
@using Gotrays.Rcl.Services
@inject ChatProductsService ChatProductsService
@inject PaysService PaysService
@inject MainInterop MainInterop

<div>
    <MCardTitle>产品详情</MCardTitle>
    @foreach (var product in _products)
    {
        <MCard  Color="#26c6da" Dark  Style="float: left;margin: 8px">
            <MCardTitle>@product.name</MCardTitle>
            <MCardText>
                <div style="font-weight: bold;font-size: 18px;color: #b32121;">
                    @product.actualPrice
                </div>
                <div style="text-decoration: line-through;font-size: 12px;">
                    @product.originalPrice
                </div>
                @foreach (var x in product.description.Split(";"))
                {
                    @x
                    <br/>
                }
                <MButton OnClick="()=>Acquisition(product)" Style="margin-top: 8px;" Block>购买</MButton>
            </MCardText>
        </MCard>
    }
</div>
<PModal Title="购买产品" Width="500" @bind-Value="ShowCode">
    <MCardTitle>请使用支付宝扫描支付</MCardTitle>
    <div style="height: 300px;width: 300px;" id="qr-code">
        
    </div>
</PModal>