@page "/"

@inject IChatMessageService ChatMessageService
@inject IChannelService ChannelService
@layout MainLayout

<CascadingValue Name="@nameof(SelectChannel)" Value="SelectChannel">
    <div class="rcl-middle">
        <MList Rounded Dense Style="margin-top: 8px">
            <MSubheader>
                <MTextField Dense
                            TValue="string"
                            Value="_search"
                            ValueChanged="SearchChanged" Outlined
                            Label="搜索" PrependInnerIcon="fa:fas fa-search" OnAppendOuterClick="CreateAsync" AppendOuterIcon="mdi-plus-thick">
                </MTextField>
            </MSubheader>
            <MListItemGroup @bind-Value="SelectedItem"
                            Color="primary">
                @foreach (var item in _channels)
                {
                    <MListItem Value="item.Id.ToString()">
                        <MListItemIcon>
                            <MAvatar Size="25">
                                <MImage Src="/_content/Gotrays.Rcl/img/chatgpt.png"></MImage>
                            </MAvatar>
                        </MListItemIcon>
                        <MListItemContent>
                            <MListItemTitle>@item.Title</MListItemTitle>
                        </MListItemContent>
                        <MListItemActionText>

                            <MMenu Left
                                   Bottom>
                                <ActivatorContent>
                                    <MButton Icon @attributes="@context.Attrs">
                                        <MIcon>mdi-dots-vertical</MIcon>
                                    </MButton>
                                </ActivatorContent>
                                <ChildContent>
                                    <MList>
                                        <MListItem OnClick="async () => await DeleteChannel(item.Id)">
                                            <MListItemTitle>删除</MListItemTitle>
                                        </MListItem>
                                        <MListItem OnClick="() => ClearChannel(item.Id)">
                                            <MListItemTitle>清空</MListItemTitle>
                                        </MListItem>
                                        <MListItem OnClick="() => UpdateChannel(item)">
                                            <MListItemTitle>编辑</MListItemTitle>
                                        </MListItem>
                                    </MList>
                                </ChildContent>
                            </MMenu>
                        </MListItemActionText>
                    </MListItem>
                }
            </MListItemGroup>
        </MList>
    </div>
    <div class="rcl-right">
        <ChatMessage @ref=ChatMessage/>
    </div>
    <AddChannel OnSucceed="LoadChannel" @bind-Value="addChannel"></AddChannel>
    <UpdateChannel ChannelDto="UpdateChannelDto" OnSucceed="LoadChannel" @bind-Value="updateChannel"></UpdateChannel>
</CascadingValue>