@using Gotrays.Contract.Dtos.Users
@inherits LayoutComponentBase
@inject IUserService UserService
@inject IWindowService WindowService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<MApp>
    <MErrorHandler>
        <div class="rcl-container">
            <div class="rcl-left">
                <div class="rcl-left-top">
                    <MAvatar Size="36">
                        <MImage Src="@userDto?.Avatar" />
                    </MAvatar>
                    <MButton Class="@("ma-2 "+GetClass(Home))"
                             Text
                             OnClick="()=>SelectMenu(Home)"
                             Icon
                             Style="margin: 20px 0 0 0 !important;"
                             Color="lighten-2">
                        <MIcon>mdi-chat-processing-outline</MIcon>
                    </MButton>
                    <MButton Class="@("ma-2 "+GetClass(Shopping))"
                             Text
                             OnClick="()=>SelectMenu(Shopping)"
                             Icon
                             Style="margin: 20px 0 0 0 !important;"
                             Color="lighten-2">
                        <MIcon>mdi-shopping-outline</MIcon>
                    </MButton>
                </div>
                <div class="rcl-left-bottom">
                    <MButton OnClick="()=>SelectMenu(Setting)" Class="@("ma-2 "+GetClass(Setting))"
                             Text
                             Icon
                             Style="margin: 0 !important"
                             Color="lighten-2">
                        <MIcon>mdi-cog-outline</MIcon>
                    </MButton>
                </div>

            </div>
            <CascadingValue Name="@nameof(GetUserDto)" Value="userDto">
                @Body
            </CascadingValue>
        </div>
    </MErrorHandler>

</MApp>