<h1>Gotrays 客户端</h1>
<p>Gotrays Suspension是open666的客户端智能助手，它基于Blazor实现基本UI功能，并使用Masa Blazor作为UI组件库。该客户端使用WPF作为Window执行平台。</p>
<p>当前版本: @Versions</p>
<p>开源地址:</p>
<ul>
    <li><a href="https://gitee.com/gotrays/gotrays-suspension">Gitee</a> - Gotrays Suspension的开源地址，您可以在这里查看源代码、提交问题和贡献代码。</li>
    <li><a href="https://github.com/239573049/Suspension">GitHub</a> - Gotrays Suspension的开源地址，您可以在这里查看源代码、提交问题和贡献代码。</li>
</ul>